h1 
form(action="/books/create", method="POST")
     input(type/text, name="title" placeholder="nhập title" )
     br
     textarea(type/text, name="des" placeholder="nhập description", style="width:250px; height:250px;")
     br
     button add book