h1 Trang chủ
a(href="/books") Quản lý sách của bạn
br 
a(href="/user") Quản lý người thuê
br
a(href="/trans") Quản lý sách đã thuê	

//form(action="/todos", method="GET")
  //   input(type/text, name="q")
    // button search