h1 add người thuê sách
form(action="/user/add" method="POST" style="display:flex; flex-direction:column; width:500px; height:auto; gap: 12px;")
  input(type="text" name="name" placeholder="tên")
  input(type="text" name="age" placeholder="độ tuổi")
  button(type="submit") Thêm